.header {
    text-align: center;
    color: white;
    font-size: 50pt;
  }

.conteiner {
    text-align: left;
    color: white;
    font-size: 48px;
}

.conteiner2 {
    margin-top: 230px;
    margin-right: 500px;
    text-align: left;
    color: black;
    font-size: 8px;
}


a { color: #ffffff; }
a:active { color: #0000FF; }
a:visited { color: #ffffff;  }