.header {
  padding: 60px;
  text-align: center;
  background: #FF3300;
  color: white;
  font-size: 30px;
}
.body{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/16/671/726/lionel-messi-football-barcelona-hd-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
