.header {
    text-align: center;
    color: white;
    font-size: 50pt;
  }

.conteiner {
    text-align: left;
    color: white;
    font-size: 48px;
}

a { color: #ffffff; }
a:active { color: #0000FF; }
a:visited { color: #ffffff;  }
